# Never commit real values!!!

# THUFootball read credentials
THUFOOTBALL_OPENID=
THUFOOTBALL_SESSION_KEY=

# 浏览器登陆后 https://www.tafa.org.cn/member/ref_db_new.php，在控制台输入：
# `THUFOOTBALL_OPENID=${USER_OPENID} THUFOOTBALL_SESSION_KEY=${USER_SESSION_KEY}`

# WeChat Official Account server credentials
WECHAT_APP_ID=
WECHAT_APP_SECRET=